<div class="container-fluid">
  <div class="title d-flex align-items-center justify-content-between">
    <h1>{{ isEditMode ? "Edit Employee Details" : "Add Employee Details" }}</h1>
    <span *ngIf="isEditMode" (click)="deleteEmpRecord()"
      ><i class="fa fa-trash-o"></i
    ></span>
  </div>
  <form class="mt-3" (ngSubmit)="saveEmployee()">
    <div class="input-container">
      <i class="fa fa-user icon text-primary"></i>
      <input
        type="text"
        placeholder="Employee name"
        [(ngModel)]="employee.name"
        name="name"
      />
    </div>
    <div class="select-container">
      <i class="fa fa-suitcase icon text-primary"></i>
      <input
        type="text"
        placeholder="Select role"
        [(ngModel)]="employee.role"
        name="roleName"
        (click)="openBottomSheet()"
      />
    </div>

    <div class="date-range d-flex">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Today</mat-label>
        <input
          matInput
          [matDatepicker]="startDatePicker"
          [(ngModel)]="employee.start_date"
          name="startdate"
          (dateChange)="onStartDateChange($event)"
          (click)="startDatePicker.open()"
          (focus)="onDatePickerOpen()"
        />
        <mat-datepicker-toggle
          matPrefix
          [for]="startDatePicker"
          class="text-primary"
        ></mat-datepicker-toggle>
        <mat-datepicker
          touchUi
          #startDatePicker
          [calendarHeaderComponent]="customHeader"

         
        >
          <mat-datepicker-actions>
            <span
              ><i class="fa fa-calendar text-primary" *ngIf="selected_start_date"></i>
              <small class="text-start-date">{{
                selected_start_date 
              }}</small></span
            >
            <div class="btn-group-datepicker">
              <button
                type="button"
                class="btn text-primary btn-cancel"
                mat-button
                matDatepickerCancel
              >
                Cancel
              </button>
              <button
                type="button"
                class="btn btn-primary"
                matDatepickerApply 
                (click)="onSaveStartDate()"
              >
                Save
              </button>
            </div>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>

      <mat-icon class="arrow-icon text-primary">arrow_forward</mat-icon>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>No Date</mat-label>
        <input
          matInput
          [matDatepicker]="endDatePicker"
          [(ngModel)]="employee.end_date"
          name="enddate"
          (dateChange)="onEndDateChange($event)"
         (click)="endDatePicker.open()"
        />
        <mat-datepicker-toggle
          matPrefix
          [for]="endDatePicker"
          class="text-primary"
        ></mat-datepicker-toggle>
        <mat-datepicker
          touchUi
          #endDatePicker
          [calendarHeaderComponent]="customHeader2"
        >
          <mat-datepicker-actions>
            <span
              ><i class="fa fa-calendar text-primary"  *ngIf="selected_end_date"></i>
              <small class="text-start-date">{{
                selected_end_date 
              }}</small></span
            >
            <div>
            <button
              type="button"
              class="btn btn-cancel text-primary"
              matDatepickerCancel
            >
              Cancel
            </button>
            <button type="button" class="btn btn-primary" matDatepickerApply  (click)="onSaveEndDate()">
              Save
            </button>
          </div>
          </mat-datepicker-actions>
        </mat-datepicker>
      </mat-form-field>
    </div>

    <!-- //  end of calendar -->

    <div class="btn-grp">
      <button type="submit" class="btn btn-primary">
        {{ isEditMode ? "Update" : "Save" }}
      </button>
      <button type="button" class="btn text-primary btn-cancel" style="margin-left: 10px;"  (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
